
@{
    ViewBag.Title = "Index";
}


<!--Start About--><br />  
<div id="about-us" class="container section">
    <div class="row header-section ">
        <h1>About Us</h1>
    </div>
    <div class="row" style="background-color: #302c21; border: 1px solid #e5b524;">
        <div class="img-section col-12 col-md-6">
            <img src="~/Content/acess/img/about-img.jpeg" alt="">
        </div>
        <div class="col-12 col-md-6 about-content">
            <h3 style="color: #ffc107;">What Makes Our Coffee Special?</h3>
            <p>Coffee has always been a part of people’s life since time immemorial. Whether you nurse a cup of java in the morning or sip a coffee latte frappe in the evening, it can make a world of difference. Not only does the caffeine make you alive and kicking, but it also has various health benefits.</p>
            <p>Its quality springs from the start-the type of coffee beans grown, the region, roasting, and brewing, down to the actual coffee served right under your nose.</p>
            <button type="button" class="btn btn-warning">Learn More</button>
        </div>
    </div>
</div>
<!--End About-->
